@charset "UTF-8";

header {
    background-color: black;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: auto;
    min-width: 320px;
    max-width: 800px;
    ;
}

header > p {
    font-size: 18px;
}

h1, h2 {
    color: rgb(236, 209, 34);
    text-shadow: black;
}

p {
    font-size: 16px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}

main {
    padding: 10px;
    margin: auto;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
    min-width: 320px;
    max-width: 800px;
}

body {
    background-color: black;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.377);
}


nav > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(70, 70, 70);
    padding: 10px;
    border-radius: 10px;
    text-decoration: solid;
    font-weight: bold;
    margin: 3px;
    transition-duration: 0.5s;
    box-shadow: 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.336);
}

nav > a:hover {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    box-shadow: 0.1em 0.1em 0.1em    rgba(255, 255, 255, 0.171);
    
}


a {
    text-decoration: none;
    color: rgb(236, 209, 34);
}

button {
    padding: 5px;
    border-radius: 5px;
    box-shadow: black;
    margin-bottom: 20px;
    transition-duration: 0.5s;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.486);
}

button:hover {
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
    box-shadow: 0.1em 0.1em 0.5em rgba(255, 255, 255, 0.336);
}

img.body {
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.932);
    border: 0.5px solid rgb(255, 255, 255);
      
}

div.video {
    background-color: black;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.932);
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    min-width: 300px;
    max-width: 450px;
}

video {
    padding: 3px;
    max-width: 350px;   
}   

div.playeraudio {
    background-color: black;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.932);
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    min-width: 300px;
    max-width: 450px;
}

audio {
    margin: 5px;
    
}

iframe {
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.651);
}

footer {
    margin: 8px;
    padding: 5px;
    
    width: auto;
}