@charset "UTF-8";

header {
    background-color: black;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    margin: auto;
    width: 700px;
}



h1, h2 {
    color: rgb(255, 255, 183);
    text-shadow: black;
}

main {
    padding: 10px;
    margin: auto;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
    min-width: 320px;
    max-width: 800px;
}

body {
    background-color: black;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}


nav > a {
    background-color: rgb(70, 70, 70);
    padding: 10px;
    border-radius: 5px;
    text-decoration: solid;
    font-weight: bold;
    margin-bottom: 20px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
}


a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

.container { 
    width: 500px; 
    margin-left: auto;
    margin-right: auto; 
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: black;
}

img.body {
    border: 0.5px solid rgb(255, 255, 255);   
}

div.mediaplayer {
    background-color: black;
    padding: 5px;
    width: 600px;
    margin: auto;
    border-radius: 20px;
}

video {
    width: 600px;
}

hr {
    color: black;
}